@import "../scss/variables.scss";
.header{
    width: fit-content;
    margin: 1rem auto;
    font-size: 1.5rem;
    background-image: linear-gradient(to right, $yellowColor, $orangeColor);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}
.container{
    width: 90%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-image: linear-gradient(to right, $yellowColor, transparent ,$orangeColor, $yellowColor); 
    background-size: 200%;
    background-position: 0 100%;
    animation: gradient 5s infinite forwards;

    .card{
        text-align: center;
        padding: 6rem 2rem;
        cursor: pointer;
        line-height: 0;
        position: relative;
        z-index: 1;

        &::before{
            content: "";
            position: absolute;
            background-color: $blackSecondary;
            inset: .5px;
            z-index: -1;
            transition: 1s;
        }
        
        &:hover::before{
            inset: 2px;
            transition: .2s;
        }
    }

}

@media screen and (max-width:650px) {
    .container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
 
@keyframes gradient {
    0%{
        background-position: 0 center;
    }
    100%{
        background-position: -200% center;
    }   
}
