@import "../scss/variables.scss";
 
.header{
    width: fit-content;
    margin: 1rem auto;
    font-size: 1.5rem;
    background-image: linear-gradient(to right, $yellowColor, $orangeColor);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.container{
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: .5rem;
}


@media screen and (max-width:800px) {
    .container{
        grid-template-columns: repeat(3,1fr);
    }   
}


@media screen and (max-width:650px) {
    .container{
        grid-template-columns: repeat(2,1fr);
    }   
}
