@import "../scss/variables.scss";

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
 
    .navigation{
        width: 20%;
        min-height: 100vh;
        background-color: $blackPrimary;
        color: $orangeColor;
        border-right: 1px solid $greyColor;

        .logo{
            padding: 1rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            border-bottom: 1px solid $greyColor;

            img{    
                height: 3rem;
            }

            span{
                font-size: 1rem;
                font-weight: 900;
                background-image: linear-gradient(to right, $yellowColor, $orangeColor);
                background-clip: text;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                color: transparent;
            }

        }
    }


    .content{
        width: 100%;
        background-color: $blackSecondary;
        color: white;
        .header{

        }
    }
}